:root {
    --primary-color: #2e5a94;
    --secondary-color: #5087bb;
    --accent-color: #d3e7f6;
    --highlight-color: #FFDBAA;
  }
  
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--accent-color) !important; 
    color: #555 !important; 
}

.col-md-4 {
     display: inline-block;
}

.form-group {
    margin-bottom: .50rem;
}
.btn {
    margin: .0rem;
}

.btn-primary {
    color: #fff;
    background-color: #2e5a94;
    border-color: #2e5a94;
}

.btn-primary:hover {
    color: #fff;
    background-color: #2e6fb9;
    border-color: #2e6fb9;
}

.btn-success {
    color: #fff;
    background-color: #2e945a;
    border-color: #2e945a;
}

.btn-success:hover {
    color: #fff;
    background-color: #2eb96f;
    border-color: #2eb96f;
}

.btn-danger {
    color: #fff;
    background-color: #942e5a;
    border-color: #942e5a;
}

.btn-danger:hover {
    color: #fff;
    background-color: #b92e6f;
    border-color: #b92e6f;
}

#statusChart {
    height: 50vh; /* 50% visine stranice */ Im !important
}